.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* libera a opção de colocar outros atributos top, left, right e bottom */
}

.container{
    display: flex;
    align-items: center;
}

.container__botao{
    display: none;
}

/* checked é uma pseudoclass e o ~ é um combinador CSS (seletor gerais de irmãos), em que pega todo elemento lista-menu que seguir um elemento container__botão com mesmo pai*/
.container__botao:checked~.lista-menu{
    display: block;
}

.cabecalho__menu-hamburguer{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat; /* como a área padding estava muito grande ele replicou a imagem que tem tamanho fixo */
    background-position: center; /* necessário usar já que a imagem ficou fora do centro do padding */
    display: inline-block; /* inline não aceita ajuste de largura(width) e altura(height) */
}


.container__imagem{
    padding: 1em;   
}

.lista-menu{
    display: none;
    position: absolute; /* permite movimentare o elemento de acordo com outro anterior que tenha uma position diferente de static (por exemplo o relative usado em cabecalho) */
    top: 100%; /* coloca o  elemento totalmente abaixo do outro elemento relativo a ele */
    width: 60vw;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    /*esses webkit's são código para que o background clip funcione em outros navegadores*/
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text;/*faz a aplicação da dor do backgrund apenas no local que tem texto*/
    text-transform: uppercase; /*faz com que o texto fique maiusculo*/
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px){
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundari);
        font-size: 1.875rem;
    }

    .container__titulo{
        display: block;
        font-weight: 400;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0em 1em;
        text-transform: uppercase;   
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__image-transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;  
    }
}

@media screen and (min-width: 1728px) {
    
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho{
        padding: 0em 2em;
    }

    .container__texto{
        display: block;
    }    

    .opcoes{
        margin-right: auto;
    }
}
